* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.container {
    margin: 5px 130px;

}

header,
footer {
    background-color: #203a5f;
    color: white;
    
}

header {
    padding: 5px;
}

.logo {
    display: flex;
    /* gap: calc(10px); */
    align-items: center;
}

.form input {
    border: 1px solid black;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.form button {
    background-color: transparent;
    padding: 10px;
    border: 1px solid green;
    color: green;
    border-radius: 5px;
}
.row{
    display: flex;
    margin-bottom: 50px;
}
.box{
    flex: 1;
    text-align: center;
}
p{
    padding: 10px;
    font-size: 1.em;
    text-align: center;
}
.box1{
    border: 1px solid black;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 5px;

}
.form1{
    display: flex;  
    flex: 1;
}
#input{
    flex: 1;
    padding: 10px;
}
#clearInput{
    background-color: transparent;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}
.box2{
    background-color: #203a5f;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100px;
    color: white;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
}
.box3, .box4{
    min-height: 200px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
}

.btnz{
    background-color: red;
    min-width: 200px;
    padding: 4px 10px;
    color: white;
    border: 1px solid red;
    border-radius: 3px;
    margin: 3px;
    font-size: 1em;
    cursor: pointer;
}
.btn1{
    background-color: transparent;
    padding: 8px 10px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 3px;
    margin: 3px;
    font-size: 1em;
    cursor: pointer;
}







footer {
    text-align: center;
    padding: 10px;
}
